<!--<div class="col-md-6">-->

<!--    <div class="form-row">-->
<!--        &lt;!&ndash;            <div class="form-group col-md-2">&ndash;&gt;-->

<!--        &lt;!&ndash;                <input type="btn" class="btn btn-info" onClick="multiplyBy()" Value="Bonus" size="2"/>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->


<!--        &lt;!&ndash;            <div class="form-group col-md-4">&ndash;&gt;-->
<!--        <label hidden for="one">Proposed Salary $</label>-->
<!--        <input hidden type="text" id="nineNumber" value="{{ proposed_Salary }}" size="3"/><br>-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="two">Bonus </label>-->
<!--            {% for rem in queryset %}-->
<!--            <div id="tenNumber" value=" {{ rem.STI }} " size="3"/>-->
<!--            {{ rem.STI }}%<br>-->
<!--        </div>-->

<!--        &lt;!&ndash;                  <input type="text" id="tenNumber" value=" {{ rem.STI }} " size="3"/>%<br>&ndash;&gt;-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <div class="form-group col-md-2">-->
<!--        <div id="resultc"></div>-->

<!--    </div>-->
<!--</div>-->





<!--&lt;!&ndash;<form>&ndash;&gt;-->
<!--&lt;!&ndash;1st Number : <input type="text" id="firstNumber" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;2nd Number: <input type="text" id="secondNumber" /><br>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="button" onClick="multiplyBy()" Value="Multiply" />&ndash;&gt;-->

<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;<p>The Resulty is : <br>&ndash;&gt;-->
<!--&lt;!&ndash;<span id = "result"></span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
