<!--<!DOCTYPE html>-->
{% extends "base_generic.html" %}

{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <title>Reward App</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!--    -->
</head>
<body>
{% block content %}
<h1>Search Results</h1>

<br/>
<form action="{% url 'reward:searchposts' %}" method="GET" value="{{request.GET.q}}">
    Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
    <input type="submit" name="submit" value="Search"/>
</form>

<br>
<br>
{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h2>Results for <b>{{ request.GET.q }}</b></h2>
<br/><br/>

{% for result in results %}

{{result.title}}
<br/>

{{result.content}}
<br/>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}

</body>
</html>

{% endblock %}


