<div class="col-md-5">
    <br>
    <h4> Did you know... </h4>
    <p class="taglineknow"> At BHP we do <strong>not</strong> ask candidates for their current
        salary nor salary expectations? <a href="blind_reward" class="blind_reward_link">Blind Reward</a></p>
    <!--            <p class="tagline">-->
    <!--            </p>-->
    <!--            <div class="col-md-12">-->
    <!--        <div class="package">-->
    <br>
    <h4>Reward Notes</h4>
    <!--                <div class="Summaryarea">-->

<p class="date" id="newdate"> Proposed start date of<strong> {{ proposed_Date }} </strong> please note the following:</p>
    <p>
        {% if mess in message is True %}
        Eligible for this year's bonus paid in September. Pro-rata due to start date.
        {% else %}
        Not eligible for this year's bonus (paid in September) <a href="" class="blind_reward_link"> More info</a>
        {% endif %}
    </p>




    <p>
        Eligible to enrol in next year's <a href="" class="blind_reward_link"> SharePlus scheme</a> (cut off
        is 1st March)

    </p>
    <!--     <p>-->
    <!--         Benefits brochure has all the details, including Novated Lease, blah-->
    <!--     </p>-->
    <p>
        Pay day is monthly/fortnightly
    </p>

</div>
<!--            </div>-->
<!--        </div>-->