<!--<div class="col-md-6">-->
<!--    <div class="form-row">-->
<!--        &lt;!&ndash;            <div class="form-group col-md-2">&ndash;&gt;-->
<!--        &lt;!&ndash;   <input type="btn" id="buttonMine"  Value="Super" size="2"/>&ndash;&gt;-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->

<!--        &lt;!&ndash;            <div class="form-group col-md-4">&ndash;&gt;-->
<!--        <label hidden for="one">Proposed Salary $</label>-->
<!--        <input hidden type="text" id="newNumber" value="{{ proposed_Salary }}" size="3"/><br>-->
<!--        &lt;!&ndash;            </div>&ndash;&gt;-->
<!--        <div class="form-group col-md-6">-->

<!--            {% for rem in queryset %}-->
<!--            <div class="fivey" id="newThirdNumber"> "Super is " {{ rem.superannuation }}%</div>-->
<!--            <br>-->
<!--            <input hidden type="text" id="newSecondNumber" value="{{ rem.superannuation }}" size="3"/><br>-->
<!--            {% endfor %}-->

<!--        </div>-->
<!--        <div class="form-group col-md-2">-->
<!--            <div id="resultf">Super is</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--<script>-->
<!--    // var mething = document.getElementsByClassName(".buttonMine");-->


<!--    // document.getElementById("but").addEventListener('click', consoley, false);-->
<!--    // document.getElementById("but").addEventListener('click', multiplySByS, false);-->

<!--</script>-->

