
<!--<html>-->
<!--{% block content %}-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Reward App</title>-->
<!--    {% load static %}-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"-->
<!--          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" type="text/css"-->
<!--          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/form.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/proposal.css' %}">-->



<!--<script>-->

<!--    const buttonMine = document.querySelector(".btn");-->
<!--buttonMine.addEventListener("click", function(){ console.log("i pressed the button but btn only in const buttonmine");});-->


<!--         function multiplySBy() {-->
<!--            num1 = document.getElementById("seventhNumber").value;-->
<!--            num2 = document.getElementById("eightNumber").value;-->
<!--            console.log(num2)-->
<!--            num3 = num2/100-->
<!--              console.log(num3)-->
<!--            document.getElementById("resulte").innerHTML = "$" +num1 * num3;-->
<!--        }-->

<!-- // {{ rem.STI }}%-->

<!--</script>-->
<!--<body>-->


<!--<form>-->
<!--    <div class="col-md-6">-->

<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-2">-->
<!--&lt;!&ndash;   <input type="btn" class="btn btn-info" id="mine" Value="Super" size="2"/>&ndash;&gt;-->

<!--                <input type="btn" class="btn btn-info" onClick="multiplySBy()" Value="Super" size="2"/>-->
<!--            </div>-->

<!--            <div class="form-group col-md-2">-->
<!--                <div id="resulte"></div>-->

<!--            </div>-->
<!--&lt;!&ndash;            <div class="form-group col-md-4">&ndash;&gt;-->
<!--                <label hidden for="one">Proposed Salary $</label>-->
<!--                <input hidden type="text" id="seventhNumber" value="{{ proposed_Salary }}" size="3"/><br>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->


<!--            <div class="form-group col-md-6">-->
<!--                <label for="five">Super %</label>-->
<!--                {% for rem in queryset %}-->

<!--                  <input type="text" id="eigthNumber" value=" {{ rem.superannuation }} " size="3"/><br>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->




<!--{% endblock %}-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--</body>-->
<!--</html>-->