{% load static %}


<br>
<!--<div class="row">-->
    <ul class="col-md-5">
<!--        <ul>-->
<!--             <li><a href class="useful_link">Location specific benefits</a></li>-->
<!--            <li><a href class="useful_link">Site Information</a></li>-->
<!--            <li><a href class="useful_link">Roster information</a></li>-->
<!--        </ul>-->

<!--        <h4> Useful links</h4>-->

        <ul class="list-inline">
<!--            <li class="list-inline-item"><a href class="useful_link">What salary do I offer?</a></li>-->
<!--            <li class="list-inline-item">BHP Benefits</li>-->
<!--            <li class="list-inline-item"><a href class="useful_link">Location specific benefits</a></li>-->
            <li class="list-inline-item"><a href class="useful_link">Site Information</a></li>
            <li class="list-inline-item"><a href class="useful_link">Roster information</a></li>

        </ul>


<!--           <ul class="list-inline">-->
<!--            <li class="list-inline-item"><a href class="useful_link">What salary do I offer?</a></li>-->
<!--           </ul>-->
    </ul>


